{
  type: 'object'
  title: 'List Repos by User'
  'x-group-name': 'Repos'
  required: ['metadata', 'data']
  properties:
    data:
      type: 'object'
      required: ['username']
      properties:
        username:
          type: 'string'
          title: 'Username'
          description: 'Github username or organization name'
}
